* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background: #000;
}

button {
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  background: chocolate;
  border: none;
  border-radius: 5pxs;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
